@import "tailwindcss";
@config "./tailwind.config.js";

@layer base {
    body {
        @apply bg-white dark:bg-slate-950 text-slate-900 dark:text-slate-100;
    }
}

.scroll-smooth {
    scroll-behavior: smooth;
}

/* 隱藏預設捲軸背景 (暗色模式優化) */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-200 dark:bg-slate-800 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-300 dark:bg-slate-700;
}